<!-- wp:template-part {"slug":"header","theme":"yukaichou-child","tagName":"header"} /-->

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">



    <!-- wp:group {"align":"full","style":{"border":{"radius":"20px"},"spacing":{"padding":{"top":"60px","bottom":"60px","left":"40px","right":"40px"}}},"backgroundColor":"custom-blue","textColor":"white","className":"home-section","layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-group alignfull home-section has-white-color has-text-color has-custom-blue-background-color has-background"
        style="border-radius:20px;padding-top:60px;padding-right:40px;padding-bottom:60px;padding-left:40px">

        <!-- wp:group {"className":"content-wrapper"} -->
        <div class="wp-block-group content-wrapper">

            <!-- wp:heading {"level":1,"style":{"spacing":{"margin":{"bottom":"20px"}}}} -->
            <h1 class="custom_heading" style="margin-bottom:20px; user-select: none;">World's #1 Gamification Expert: <span id="fans">Yu-kai
                    Chou</span> </h1>
            <!-- /wp:heading -->

            <!-- wp:columns {"className":"content-container"} -->
            <div class="wp-block-columns content-container">

                <!-- wp:column {"className":"left-column"} -->
                <div class="wp-block-column left-column">

                    <!-- wp:group {"className":"inner-content"} -->
                    <div class="wp-block-group inner-content">

                        <!-- wp:paragraph -->
                        <p>Welcome to Yu-kai Chou's world of <a href="#">gamification</a>. Inspired by a love for RPG
                            video
                            games, Yu-kai sets out to make real life as fulfilling as gaming. He realized that life is
                            the
                            ultimate game and embarked on a journey to level up through education and entrepreneurship.
                            This
                            path led to the creation of the <a href="#">Octalysis</a> Framework, catapulting his career
                            and
                            earning him accolades from Fortune 500 companies and nations worldwide.</p>
                        <!-- /wp:paragraph -->

                        <!-- wp:buttons -->
                        <div class="wp-block-buttons">
                            <!-- wp:button {"backgroundColor":"white","textColor":"black","style":{"border":{"radius":"10px"},"spacing":{"padding":{"top":"15px","bottom":"15px","left":"25px","right":"25px"}}}} -->
                            <div class="wp-block-button">
                                <a class="wp-block-button__link has-black-color has-white-background-color has-text-color has-background"
                                    style="border-radius:10px;padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px"
                                    href="./gamification-expert/">About Chou</a>
                            </div>
                            <!-- /wp:button -->
                        </div>
                        <!-- /wp:buttons -->

                    </div>
                    <!-- /wp:group -->

                </div>
                <!-- /wp:column -->

                <!-- wp:column {"className":"right-column"} -->
                <div class="wp-block-column right-column">

                    <!-- wp:group {"className":"video-container"} -->
                    <div class="wp-block-group video-container">

                        <!-- wp:embed {"url":"https://www.youtube.com/watch?v=v5Qjuegtiyc","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/v5Qjuegtiyc?si=1r0RgIoNkOiFLbTb"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <!-- /wp:embed -->

                    </div>
                    <!-- /wp:group -->

                </div>
                <!-- /wp:column -->

            </div>
            <!-- /wp:columns -->

        </div>
        <!-- /wp:group -->

    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"full","style":{"border":{"radius":"20px"},"spacing":{"padding":{"top":"60px","bottom":"60px","left":"40px","right":"40px"}}},"backgroundColor":"custom-blue","textColor":"white","className":"home-section","layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-group alignfull home-section has-white-color has-text-color has-custom-blue-background-color has-background"
        style="border-radius:20px;padding-top:60px;padding-right:40px;padding-bottom:60px;padding-left:40px">

        <!-- wp:group {"className":"content-wrapper"} -->
        <div class="wp-block-group content-wrapper">

            <!-- wp:heading {"level":1,"style":{"spacing":{"margin":{"bottom":"20px"}}}} -->
            <h1 class="custom_heading" style="margin-bottom:20px">The Octalysis Framework for Gamification & Behavioural
                Design</h1>
            <!-- /wp:heading -->

            <!-- wp:columns {"className":"content-container"} -->
            <div class="wp-block-columns content-container">

                <!-- wp:column {"className":"left-column"} -->
                <div class="wp-block-column left-column">

                    <!-- wp:group {"className":"inner-content"} -->
                    <div class="wp-block-group inner-content">

                        <!-- wp:paragraph -->
                        <p>Gamification, a design approach centered around human motivation, takes elements from games
                            and applies them to real-world activities. Octalysis emphasizes “Human-Focused Design”
                            instead of mere functionality, optimizing human motivation and engagement within a system.
                            <br>
                            <br>
                            The framework comprises 8 Core Drives represented by an octagon shape, including Epic
                            Meaning & Calling, Development & Accomplishment, Empowerment of Creativity & Feedback,
                            Ownership & Possession, Social Influence & Relatedness, Scarcity & Impatience,
                            Unpredictability & Curiosity, and Loss & Avoidance. By understanding and implementing these
                            Core Drives, designers can create engaging experiences that cater to intrinsic motivators
                            and promote positive user experiences.
                        </p>
                        <!-- /wp:paragraph -->

                        <!-- wp:buttons -->
                        <div class="wp-block-buttons">
                            <!-- wp:button {"backgroundColor":"white","textColor":"black","style":{"border":{"radius":"10px"},"spacing":{"padding":{"top":"15px","bottom":"15px","left":"25px","right":"25px"}}}} -->
                            <div class="wp-block-button">
                                <a class="wp-block-button__link has-black-color has-white-background-color has-text-color has-background"
                                    style="border-radius:10px;padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px"
                                    href="/about">About Chou</a>
                            </div>
                            <!-- /wp:button -->
                        </div>
                        <!-- /wp:buttons -->

                    </div>
                    <!-- /wp:group -->

                </div>
                <!-- /wp:column -->

                <!-- wp:column {"className":"right-column"} -->
                <div class="wp-block-column right-column">

                    <!-- wp:group {"className":"image-container"} -->
                    <figure class="wp-block-image aligncenter size-large">
                        <img src="/yukaichou/wp-content/uploads/2024/09/Octalysis-Framework-with-Numbers-April-2019.png"
                            alt="Description of the image" class="wp-image-123" />
                    </figure>
                    <!-- /wp:image -->

                    <!-- /wp:group -->

                </div>
                <!-- /wp:column -->

            </div>
            <!-- /wp:columns -->

        </div>
        <!-- /wp:group -->

    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"full","style":{"border":{"radius":"20px"},"spacing":{"padding":{"top":"60px","bottom":"60px","left":"40px","right":"40px"}}},"backgroundColor":"custom-blue","textColor":"white","className":"home-section","layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-group alignfull home-section has-white-color has-text-color has-custom-blue-background-color has-background"
        style="border-radius:20px;padding-top:60px;padding-right:40px;padding-bottom:60px;padding-left:40px">

        <!-- wp:group {"className":"content-wrapper"} -->
        <div class="wp-block-group content-wrapper">

            <!-- wp:heading {"level":1,"style":{"spacing":{"margin":{"bottom":"20px"}}}} -->
            <h1 class="custom_heading" style="margin-bottom:20px">Yu-kai's Mentorship Platform: Octalysis Prime</h1>
            <!-- /wp:heading -->

            <!-- wp:columns {"className":"content-container"} -->
            <div class="wp-block-columns content-container">

                <!-- wp:column {"className":"left-column"} -->
                <div class="wp-block-column left-column">

                    <!-- wp:group {"className":"inner-content"} -->
                    <div class="wp-block-group inner-content">

                        <!-- wp:paragraph -->
                        <p>It all starts on the OP Island. The island is the central hub for your journey. Not only will
                            you expand your knowledge of the 8 Core Drives of Octalysis, but you can also explore
                            lessons about Persuasive Technology, Motivational Psychology, Gameful Design, Technology
                            Platforms, Entrepreneurship, Behavioral Economics, and Applied Psychology. Join this Epic
                            Learning Journey to download Yu-kai Chou’s brain and transform everything you do – all in a
                            super fun way!
                        </p>
                        <!-- /wp:paragraph -->

                        <!-- wp:buttons -->
                        <div class="wp-block-buttons">
                            <!-- wp:button {"backgroundColor":"white","textColor":"black","style":{"border":{"radius":"10px"},"spacing":{"padding":{"top":"15px","bottom":"15px","left":"25px","right":"25px"}}}} -->
                            <div class="wp-block-button">
                                <a class="wp-block-button__link has-black-color has-white-background-color has-text-color has-background"
                                    style="border-radius:10px;padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px"
                                    href="/about">About Chou</a>
                            </div>
                            <!-- /wp:button -->
                        </div>
                        <!-- /wp:buttons -->

                    </div>
                    <!-- /wp:group -->

                </div>
                <!-- /wp:column -->

                <!-- wp:column {"className":"right-column"} -->
                <div class="wp-block-column right-column">

                    <!-- wp:group {"className":"image-container"} -->
                    < <figure class="wp-block-image aligncenter size-large">
                        <img src="/yukaichou/wp-content/uploads/2025/01/OP-Island-4x3a-600-Pixels.webp"
                            alt="Description of the image" class="wp-image-123" />
                        </figure>
                        <!-- /wp:image -->

                        <!-- /wp:group -->

                </div>
                <!-- /wp:column -->

            </div>
            <!-- /wp:columns -->

        </div>
        <!-- /wp:group -->

    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"full","style":{"border":{"radius":"20px"},"spacing":{"padding":{"top":"60px","bottom":"60px","left":"40px","right":"40px"}}},"backgroundColor":"custom-blue","textColor":"white","className":"home-section","layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-group alignfull home-section has-white-color has-text-color has-custom-blue-background-color has-background"
        style="border-radius:20px;padding-top:60px;padding-right:40px;padding-bottom:60px;padding-left:40px">

        <!-- wp:group {"className":"content-wrapper"} -->
        <div class="wp-block-group content-wrapper">

            <!-- wp:heading {"level":1,"style":{"spacing":{"margin":{"bottom":"20px"}}}} -->
            <h1 class="custom_heading" style="margin-bottom:20px">Yu-kai's Book Actionable Gamification</h1>
            <!-- /wp:heading -->

            <!-- wp:columns {"className":"content-container"} -->
            <div class="wp-block-columns content-container">

                <!-- wp:column {"className":"left-column"} -->
                <div class="wp-block-column left-column">

                    <!-- wp:group {"className":"inner-content"} -->
                    <div class="wp-block-group inner-content">

                        <!-- wp:paragraph -->
                        <p>After 20+ years of Gamification practice and study, after consulting for clients such as
                            Google, Accenture, and Tesla, I decided it was time to share my knowledge and expertise with
                            everyone around the world.
                            <br>
                            <br>
                            To share my knowledge, I decided to write and publish a book about Gamification, but not
                            just any book: my goal was to write the definitive book about Gamification that empowered a
                            reader to immediately take action on their personal and professional lives.
                            I’ll admit I was nervous when I published the book, but today, I am immensely proud and
                            humbled by the positive impact that my book has created.
                        </p>
                        <!-- /wp:paragraph -->

                        <!-- wp:buttons -->
                        <div class="wp-block-buttons">
                            <!-- wp:button {"backgroundColor":"white","textColor":"black","style":{"border":{"radius":"10px"},"spacing":{"padding":{"top":"15px","bottom":"15px","left":"25px","right":"25px"}}}} -->
                            <div class="wp-block-button">
                                <a class="wp-block-button__link has-black-color has-white-background-color has-text-color has-background"
                                    style="border-radius:10px;padding-top:15px;padding-right:25px;padding-bottom:15px;padding-left:25px"
                                    href="/about">About Chou</a>
                            </div>
                            <!-- /wp:button -->
                        </div>
                        <!-- /wp:buttons -->

                    </div>
                    <!-- /wp:group -->

                </div>
                <!-- /wp:column -->

                <!-- wp:column {"className":"right-column"} -->
                <div class="wp-block-column right-column">

                    <!-- wp:group {"className":"image-container"} -->
                    <figure class="wp-block-image aligncenter size-large">
                        <img src="/yukaichou/wp-content/uploads/2023/08/book.png" alt="Description of the image"
                            class="wp-image-123" />
                    </figure>
                    <!-- /wp:image -->

                    <!-- /wp:group -->

                </div>
                <!-- /wp:column -->

            </div>
            <!-- /wp:columns -->

        </div>
        <!-- /wp:group -->

    </div>
    <!-- /wp:group -->



</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fans = document.getElementById('fans'); // No '#'

        if (fans) { // Check if element exists
            let numberOfClicks = 0; // Keep count of clicks

            fans.addEventListener('click', function () {
                numberOfClicks++; // Increase counter on each click

                if (numberOfClicks > 5) {
                    alert("Hey! I know you like me...but that's too much touching! ❤️");
                    numberOfClicks = 0; // Reset counter to avoid spam
                }
            });
        }
    });
</script>
<!-- wp:template-part {"slug":"footer","theme":"yukaichou-child","tagName":"footer"} /-->